/* VARIABLES */
html {
  --size-header: 15vh;
  --size-icon-container: 80px;
  --size-small-icon-container: 40px;
  --size-icon: 50px;
  --size-small-icon: 20px;
}

/* SECTIONS */
html {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: var(--size-header);
  align-items: center ;
  padding-left: 5%;
  padding-right: 5%;
}

/* COMPONENTS */
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;
  height: var(--size-icon-container);
  width: var(--size-icon-container);
  cursor: pointer;
}

.icon-button > img {
  height: var(--size-icon);
  width: var(--size-icon);
}

.small-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100%;
  height: var(--size-small-icon-container);
  width: var(--size-small-icon-container);
  cursor: pointer; 
}

.small-icon-button > img {
  height: var(--size-small-icon);
  width: var(--size-small-icon);
}

/* ADD MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#modal-form-field {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 5px;
}

#add-form-button {
  margin-top: 20px;
}

/* SIDENAV */
#side {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: whitesmoke; 
  overflow-x: hidden;
  padding-top: 20px;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}

#side-header {
  display: flex;
  justify-content: flex-end;
  height: var(--size-header);
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

#side-content {
  padding: 5%;
}

.word-item {
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}